<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--管理DAO组件对象

        工厂中对象的创建次数:
            总结: 默认工厂在创建对象时使用单例模式进行创建
            dao  service  可以是单例 servlet 默认就是单例

            struts2的action(一定要是多例)

        scope: 作用用来决定工厂创建组件对象的次数
            singleton: 默认值  单例
            prototype: 多例

        init-method: 指定组件中初始化方法
        destroy-method: 指定组件中销毁方法
    -->
    <bean id="personDAO" class="scope.PersonDAOImpl" scope="prototype" init-method="init152" destroy-method="destroy"></bean>


</beans>