<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--管理DAO组件对象创建-->
    <bean id="studentDAO" class="di.StudentDAOImpl"></bean>


    <!--管理Service组件对象的创建-->
    <bean id="studentService" class="di.StudentServiceImpl">
        <property name="studentDAO" ref="studentDAO"/>
    </bean>

</beans>