<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">




    <!--创建组件对象
        bean: 用来管理组件对象的创建
        class: 作用用来书写要创建组件对象的全限定名 包.类
        name|id:   作用创建对象在工厂中唯一标识
            推荐使用id: 方式     命名推荐: 接口的首字母小写
    -->
    <bean id="userDAO" class="day1.UserDAOImpl"></bean>


    <!--用来创建cityDAO组件对象-->
    <bean id="aa" class="day1.CityDAOImpl"></bean>

    <!--用来创建cityService组件对象-->
    <bean id="cityService" class="day1.CityServiceImpl">
        <!--为类中成员变量赋值的过程称之为注入(Injection)
            property:用来为类中声明的成员变量赋值
            name: 用来指定类中赋值的成员变量名
            ref:  用来指定赋值对象在工厂中的唯一标识
        -->
        <property name="cityDAO" ref="aa"/>
    </bean>

</beans>